@import "colors";

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  display: flex;
  padding: 1em;
  max-width: 700px;
}

.post img {
  width: 200px;
  margin-right: 1em;
}

.post-title {
  background-color: $secondary-background-color;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.75em;
}

.post-title a {
  color: $special-link-color;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* ERRORS */

section#errors {
  margin: 1em 0;
  padding: 1em;
  background: $errors-background-color;

  h2 {
    color: $errors-text-color;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }
}
