<section class="container">
  <div class="row">
    <article class="col-md-6 mx-auto">
    	<p>Once upon a time, I was a freshman high school student. I took a visual basic class and enjoyed it, and then I took a more advanced programming class in Java. I enjoyed that class too, but I was pretty terrible at it.</p>
      <p>So I thought, "Well, that would have been fun. I'll study accounting instead."</p>
      <p>(Okay, accounting was kind of fun for me too. But not as much fun as coding!)</p>
      <p>It took me the next 15 years to learn that not being great at Java right away possibley, maybe, doesn't mean that I can't learn programming.</p>
      <p>I started slowly, with a couple Coursera classes on making games in Python. Fun!</p>
      <p>Then I thought--but I want to share my games with my friends, without having to deal with a bunch of complex hoo-ha around finding a UI library, and packaging the program, etc. The answer? JavaScript!</p>
      <p>Learning JavaScript led me to want to learn how to make a complete app--database included. So that led me to where I am now, which is learning Ruby on Rails.</p>
      <p>Serendipitiously, I had the opportunity to move to France(!) for three months without working. My goal is to use these three months to work on a bunch of projects and start to really be able to use all the stuff I've been learning over the last couple of years.</p>
      <p>Armed with my Pragmatic Studios Ruby and Rails courses, plus the assistance of the mighty google, I plan to achieve the following:</p>
    	<ul>
    		<li>Learn Rails!
          <ul>
            <li>Create 6 Rails Apps (bonus practice with Bootstrap along the way)
              <ol>
                <li>This blog</li>
                <li>Dog breed info site</li>
                <li>Broadway show app requested by a friend</li>
                <li>Risk Assessment app requested by a parent</li>
                <li>Simple accounting app to warm my CPA heart</li>
                <li>To be determined</li>
              </ol>
            </li>
          </ul>
        </li>
    		<li>Practice JavaScript!
          <ul>
            <li>Create a Solitaire game</li>
          </ul>
        </li>
    		<li>Learn React!
          <ul>
            <li>Don't know enough to know what to do here yet</li>
          </ul>
        </li>
    	</ul>
    </article>
  </div>
</section>