<section class="container">
  <div class="flex-grid">
    <div class="flex-col-half" id="highlights">
      <span id="three">3</span>
      <span id="months">months</span>
    </div>
    <div class="flex-col-half">
      <h3>Oh, hello.</h3>
      <p>In September, I left my job and moved to France.</p>
      <p>I have 12 weeks to work on coding projects and learn as much as possible.</p>
      <p>(Oh and to eat baguettes and travel around Europe.)</p>
    </div>
    <div class="flex-col-half">
      <h3>Background</h3>
      <p>Once upon a time, I was a freshman high school student. I took a visual basic class and enjoyed it, and then I took a more advanced programming class in Java. I enjoyed that class too, but I was pretty terrible at it.</p>
      <p>So I thought, "Well, that would have been fun. I'll study accounting instead."</p>
      <p>(Okay, accounting was kind of fun for me too. But not as much fun as coding!)</p>
      <p>It took me the next 15 years to learn that not being great at Java right away possibly, maybe, doesn't mean that I can't learn programming.</p>
    </div>
    <div class="flex-col-half">
      <h3>Starting Point</h3>
      <p>A little bit of HTML, CSS and Javascript. I took a JS course in February 2017.</p>
      <p>I started learning Ruby and then Ruby on Rails through the Pragmatic Studio's courses back in April 2017.</p>
      <p>Without spending time using these tools, it's easy to forget what I learned in class.</p>
    </div>
    <div class="flex-col-half">
      <h3>The Plan</h3>
      <p>Armed with my Pragmatic Studios Ruby and Rails courses, plus the assistance of the mighty google, I plan to achieve the following:</p>
      <ul>
        <li>Learn Rails!
          <ul>
            <li>Create 6 Rails Apps (bonus practice with Bootstrap along the way)
              <ol>
                <li>This blog</li>
                <li>Dog breed info site</li>
                <li>Broadway show app requested by a friend</li>
                <li>Risk Assessment app requested by a parent</li>
                <li>Simple accounting app to warm my CPA heart</li>
                <li>To be determined</li>
              </ol>
            </li>
          </ul>
        </li>
        <li>Practice JavaScript!
          <ul>
            <li>Create a Solitaire game</li>
          </ul>
        </li>
        <li>Learn React!
          <ul>
            <li>Don't know enough to know what to do here yet</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>