$primary-background-color: white;
$secondary-background-color: black;
$special-background-color: red;
$primary-text-color: black;
$secondary-text-color: red;
$subdued-text-color: #696969;
$special-text-color: white;
$primary-link-color: blue;
$secondary-link-color: white;
$special-link-color: red;
$errors-background-color: yellow;
$errors-text-color: black;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: gray;
$flash-alert-color: yellow;
$accent-color: red;
$fieldset-color: lighten($secondary-background-color, 50%);